<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dengnanhao-博客</title>
  </head>
  <body>
    <main class="main">
      <div class="content">
        <button class="h-8 leading-8 bg-white rounded px-4">进入博客</button>
      </div>
    </main>
  </body>
</html>

<style>
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #0a032e;
  }
</style>
