---
import Layout from "../../layouts/Layout.astro";
import BlogList from "../../components/ui/blog/List";
import Profile from "../../components/ui/Profile";
---

<Layout title="index">
  <div class="grid grid-cols-3 gap-4 max-w-screen-xl m-auto">
    <BlogList className="col-span-2" />
    <Profile className="col-auto" />
  </div>
</Layout>
